<html>
    <head>
            <script src="lib/codemirror.js"></script>
            <link rel="stylesheet" href="lib/codemirror.css">
        <title>Nisa Collections</title>
    </head>
    <body>
        <form action="/exportToExcel" method="POST">
            <textarea id = "code" name="code"></textarea>
            <input style="font-size: 15px; height: 30px;" type="submit" value="Export to Excel" name="export" />
        </form>
        <script src="bundle.js"></script>
    </body>
</html>